@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  font-family: "Poppins";
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

h1 {
  margin-bottom: 5px;
}

img {
  max-width: 600px;
  max-height: 600px;
}

p {
  font-size: 23px;
}

.text-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-container p {
  width: 80%;
}

.button {
  font-size: 20px;
  color: whitesmoke;
  background-color: #5d5d72;
  padding: 7.5px 18px;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
}

.button:hover {
  color: #2e3037;
  transition: 0.5s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2e3037;
}

::-webkit-scrollbar-thumb {
  background: #5d5d72;
}
